@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-nav-ring: var(--nav-ring);
  --color-nav-border: var(--nav-border);
  --color-nav-accent-foreground: var(--nav-accent-foreground);
  --color-nav-accent: var(--nav-accent);
  --color-nav-primary-foreground: var(--nav-primary-foreground);
  --color-nav-primary: var(--nav-primary);
  --color-nav-foreground: var(--nav-foreground);
  --color-nav: var(--nav);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.241 0.029 264.052);
  --card: oklch(0.985 0.002 264.052);
  --card-foreground: oklch(0.241 0.029 264.052);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.241 0.029 264.052);
  --primary: oklch(0.623 0.141 196.231);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.967 0.002 264.052);
  --secondary-foreground: oklch(0.241 0.029 264.052);
  --muted: oklch(0.967 0.002 264.052);
  --muted-foreground: oklch(0.584 0.026 264.052);
  --accent: oklch(0.738 0.152 127.715);
  --accent-foreground: oklch(0.241 0.029 264.052);
  --destructive: oklch(0.646 0.224 29.234);
  --border: oklch(0.92 0.003 264.052);
  --input: oklch(0.92 0.003 264.052);
  --ring: oklch(0.623 0.141 196.231);
  --chart-1: oklch(0.623 0.141 196.231);
  --chart-2: oklch(0.738 0.152 127.715);
  --chart-3: oklch(0.567 0.178 241.873);
  --chart-4: oklch(0.545 0 0);
  --chart-5: oklch(0.729 0.132 305.349);
  --nav: oklch(0.99 0.001 264.052);
  --nav-foreground: oklch(0.241 0.029 264.052);
  --nav-primary: oklch(0.623 0.141 196.231);
  --nav-primary-foreground: oklch(1 0 0);
  --nav-accent: oklch(0.967 0.002 264.052);
  --nav-accent-foreground: oklch(0.241 0.029 264.052);
  --nav-border: oklch(0.92 0.003 264.052);
  --nav-ring: oklch(0.623 0.141 196.231);
}

.dark {
  --background: oklch(0.241 0.029 264.052);
  --foreground: oklch(0.985 0.002 264.052);
  --card: oklch(0.316 0.024 264.052);
  --card-foreground: oklch(0.985 0.002 264.052);
  --popover: oklch(0.316 0.024 264.052);
  --popover-foreground: oklch(0.985 0.002 264.052);
  --primary: oklch(81.41% 0.13597 194.852);
  --primary-foreground: oklch(0.241 0.029 264.052);
  --secondary: oklch(0.316 0.024 264.052);
  --secondary-foreground: oklch(0.985 0.002 264.052);
  --muted: oklch(0.316 0.024 264.052);
  --muted-foreground: oklch(0.724 0.02 264.052);
  --accent: oklch(0.778 0.168 127.715);
  --accent-foreground: oklch(0.241 0.029 264.052);
  --destructive: oklch(0.686 0.201 29.234);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.693 0.156 196.231);
  --chart-1: oklch(0.693 0.156 196.231);
  --chart-2: oklch(0.778 0.168 127.715);
  --chart-3: oklch(0.627 0.194 241.873);
  --chart-4: oklch(0.785 0 0);
  --chart-5: oklch(0.779 0.142 305.349);
  --nav: oklch(0.316 0.024 264.052);
  --nav-foreground: oklch(0.985 0.002 264.052);
  --nav-primary: oklch(0.743 0.171 196.231);
  --nav-primary-foreground: oklch(0.241 0.029 264.052);
  --nav-accent: oklch(0.356 0.022 264.052);
  --nav-accent-foreground: oklch(0.985 0.002 264.052);
  --nav-border: oklch(1 0 0 / 10%);
  --nav-ring: oklch(0.693 0.156 196.231);
}

html {
  scroll-behavior: "smooth";
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}